.data-table-container{    
  border-radius: 8px;
  overflow:hidden !important;
}

.filtro{
  margin-left:15%;
  max-width: 85%;
}

.mat-mdc-table {
  overflow: auto;
  max-height: 100%;
}

.mobile-label {
  display: none;
}

.button-container {
  display: flex;
  gap: 10px;

  button {
    border: 2px solid #007bff;
    background-color: #007bff;
    color: white;
    padding: 4px !important;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    width: 40px;
    min-width: 0% !important;

    /* Centraliza verticalmente e horizontalmente o ícone */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    &:hover {
      background-color: transparent;
      color: #007bff;
      border-color: #007bff;
    }

    /* Opcionalmente ajuste o tamanho do ícone */
    mat-icon {
      font-size: 18px;
      margin-left:5%!important; /* Ajuste conforme necessário */
    }
  }
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-mdc-header-row {
    display: none;
  }

  .data-table-container{    
    width: 100%;
  }

  .filtro{
    margin-left:2%;
  }

  // .mat-mdc-table{
  //   width: 25%;
  // }

  // mat-paginator{
  //   width: 10%;
  // }

  .mat-mdc-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}