
.crud-card {
  max-width: 1400px;
  margin: 20px auto;
  padding: 20px;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  //background: linear-gradient(to bottom, #cfcdcd 0%, #fff 25%);
  

  mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    background-color: transparent;

    mat-card-title {
      font-size: 24px;
      font-weight: bold;
      color: #3f51b5;
    }

    .action-buttons {
      display: flex;
      gap: 10px;

      button {
        border: 2px solid #007bff;
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;

        &:hover {
          background-color: transparent;
          color: #007bff;
          border-color: #007bff;
        }
      }
    }
  }

  mat-card-content {
    .container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 20px;

      .form-section {
        flex: 1;
        min-width: 600px; // Aumentado a largura mínima da seção do formulário
        padding-right: 40px; // Espaçamento à direita
        border-right: 1px solid #e0e0e0; // Linha divisória
      }

      .table-section {
        flex: 1;
        min-width: 600px; // Aumentado a largura mínima da seção da tabela
        padding-left: 20px; // Espaçamento à esquerda
      }

      .form-section {
        h2 {
          font-size: 22px;
          color: #3f51b5;
          margin-bottom: 10px;
        }
      }

      .table-section {
        h2 {
          font-size: 20px;
          color: #3f51b5;
          margin-bottom: 10px;
        }
      }
    }
  }

  // Responsividade
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .action-buttons {
      flex-direction: column;
      align-items: flex-start;
      button {
        width: 100%;
      }
    }

    .form-section {
      max-width: 100% !important;
      min-width: 0% !important;
      border-width: 0 !important;
    }

    .table-section{
      max-width: 100% !important;
      min-width: 0% !important;
    }


    mat-card-header {
      flex-direction: column;
      align-items: flex-start;

      mat-card-title {
        margin-bottom: 10px;
      }
    }
  }
}
